In [ ]:
import pandas as pd
import datetime as dt

In [ ]:
df = pd.read_csv('Kuda_AQI.csv')
df = df.drop('Unnamed: 0',axis=1)
print(df)

          time  value
0   2016-01-01     73
1   2016-01-02     72
2   2016-01-03     68
3   2016-01-04     74
4   2016-01-05     76
..         ...    ...
79  2022-08-01     43
80  2022-09-01     41
81  2022-10-01     64
82  2022-11-01     49
83  2022-12-01    116

[84 rows x 2 columns]

In [ ]:
df['time']= pd.to_datetime(df['time'],format='%Y-%m-%d').dt.strftime('%Y-%d-%m')
df['time'][:36]= pd.to_datetime(df['time'][:36],format='%Y-%m-%d').dt.strftime('%Y-%d-%m')
print(df)

          time  value
0   2016-01-01     73
1   2016-01-02     72
2   2016-01-03     68
3   2016-01-04     74
4   2016-01-05     76
..         ...    ...
79  2022-01-08     43
80  2022-01-09     41
81  2022-01-10     64
82  2022-01-11     49
83  2022-01-12    116

[84 rows x 2 columns]

<ipython-input-11-87e3b12af19b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time'][:36]= pd.to_datetime(df['time'][:36],format='%Y-%m-%d').dt.strftime('%Y-%d-%m')

In [ ]:
df['time']= pd.to_datetime(df['time'],format='%Y-%m-%d').dt.strftime('%Y-%d-%m')
print(df)

          time  value
0   2016-01-01     73
1   2016-02-01     72
2   2016-03-01     68
3   2016-04-01     74
4   2016-05-01     76
..         ...    ...
79  2022-08-01     43
80  2022-09-01     41
81  2022-10-01     64
82  2022-11-01     49
83  2022-12-01    116

[84 rows x 2 columns]

In [ ]:
df.to_csv('Kuda_AQI.csv')