In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
os.chdir("/content/drive/MyDrive/Nasscom")
print(os.getcwd())

/content/drive/MyDrive/Nasscom

In [3]:
aqi_path = list(os.walk("."))[0][2][1:]
print(aqi_path)

['MonthlyAQI2020.xlsx', 'MonthlyAQI2022.xlsx', 'MonthlyAQI2021.xlsx', 'MonthlyAQI2019.xlsx', 'Monthly AQI Jan - Dec 2018.xlsx', 'AQI 2016.xlsx', 'AQI 2017 (1).xlsx']

In [4]:
import pandas as pd
filepath = "/content/drive/MyDrive/Nasscom/"
distrit = ["Karimnagar","Khammam","Kuda, warangal","Mee-Seva, Warangal","Nizamabad","Adilabad"]

In [5]:
sample = [pd.read_excel(filepath+i) for i in aqi_path]

In [ ]:
sample

In [7]:
karimnagar = [sample[i].loc[sample[i]['Location']==distrit[0]] for i in range(len(aqi_path))]

In [ ]:
karimnagar

In [9]:
karimnagar = [karimnagar[i].drop(['Location'],axis=1) for i in range(1,len(aqi_path))]
#karimnagar

In [11]:
karimnagar = pd.concat(karimnagar)

In [12]:
karimnagar

,2022-01-01 00:00:00,2022-02-01 00:00:00,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,...,Aug,Sep,Oct,Nov,DEC,Mar,Apr,Jun,Jul,Dec
45,82.0,90.333333,95.666667,69.926215,76.241282,89.0,69.197791,55.0,58.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.857143,99.666667,97.777778,106.444444,100.0,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.518519,31.000000,56.200000,68.777778,NaN,44.0,62.194444,48.111111,31.604167,84.0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.708333,61.555556,71.000000,90.537037,NaN,85.520833,78.851852,59.444444,55.333333,89.962963