In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import os
import shutil
os.chdir("/content/drive/MyDrive/Nasscom/Final_Five")
print(os.getcwd())

/content/drive/MyDrive/Nasscom/Final_Five

In [ ]:
aqi_path = list(os.walk("."))[0][2]
#aqi_path = [i for i in aqi_path if "Warangal" in i]
aqi_path

In [ ]:
tmp = ["Warangal_"+"_".join(i.split("_")[1:]) for i in aqi_path]
tmp

In [ ]:
for i,j in zip(aqi_path,tmp):
  os.rename(i,j)
  print(f"done {i} to {j}")

In [156]:
old_path = "/content/drive/MyDrive/Nasscom/nasscom/consol_dist/"
adil_path = "/content/drive/MyDrive/Nasscom/Final_Five/Adilabad/"
karim_path = "/content/drive/MyDrive/Nasscom/Final_Five/Karimnagar/"
khm_path = "/content/drive/MyDrive/Nasscom/Final_Five/Khammam/"
war_path = "/content/drive/MyDrive/Nasscom/Final_Five/Warangal/"
niz_path = "/content/drive/MyDrive/Nasscom/Final_Five/Nizamabad/"

In [ ]:
adil = sorted([i for i in aqi_path if "Adilabad" in i])
karim = sorted([i for i in aqi_path if "Karimnagar" in i])
khm = sorted([i for i in aqi_path if "Khammam" in i])
war = sorted([i for i in aqi_path if "Warangal" in i])
niz = sorted([i for i in aqi_path if "Nizamabad" in i])
print(len(adil))
print(len(karim))
print(len(khm))
print(len(war))
print(len(niz))

In [159]:
for i in range(60):
  shutil.copy(adil[i],adil_path)
  shutil.copy(karim[i],karim_path)
  shutil.copy(khm[i],khm_path)
  shutil.copy(war[i],war_path)
  shutil.copy(niz[i],niz_path)

In [5]:
import pandas as pd
import numpy as np
import datetime as dt

In [ ]:
df = pd.read_csv(aqi_path[-7])
#df = df[df["Date"].dt.strftime('%m')=="02"]
#mask = df['date'].str.contains("-Feb-")
#df = df[mask].reset_index().drop(columns=['index','dmcode'])
df.head()

In [ ]:
uniq_dist = df.District.unique()
grp_df = df.groupby(df.District)
grp_df.get_group('Wanaparthy')

In [ ]:
for j in uniq_dist:
        tmp_df = grp_df.get_group(j).reset_index()
        #print(tmp_df.head())
        tmp_df = tmp_df.drop(columns=['index'])
        tmp_df.to_csv(f"./nasscom/consol_dist/{j}_11_2022")
        print(f"Saved Now: {j}_11_2022")

In [30]:
import matplotlib.pyplot as plt
df = pd.read_csv("complete_adilabad.csv")
df['Date'] = pd.to_datetime(df['Date'])
#df.sort_values(df['Date'])
grp_df = df.groupby(df['Date'])
grp_df.get_group('2018-01-01').head()

#plt.plot(df['Date'],df['Max Temp (°C)'])

,Unnamed: 0,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,0,Adilabad (Urban),2018-01-01,0.0,10.4,29.7,41.8,83.8,0.0,5.7
31,31,Ichoda,2018-01-01,0.0,9.0,30.2,29.1,41.2,2.0,12.7
62,62,Adilabad Rural,2018-01-01,0.0,9.9,29.4,23.2,88.1,0.0,19.7
93,93,Bheempoor,2018-01-01,0.0,12.0,32.5,30.5,73.7,0.0,2.9
124,124,Gadiguda,2018-01-01,0.0,14.3,32.1,26.1,74.9,0.0,7.1

In [25]:
pd.to_datetime(df['Date'])

0       2018-01-01
1       2018-02-01
2       2018-03-01
3       2018-04-01
4       2018-05-01
           ...
33880   2022-12-27
33881   2022-12-28
33882   2022-12-29
33883   2022-12-30
33884   2022-12-31
Name: Date, Length: 33885, dtype: datetime64[ns]